// @import "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap";

// Color system
// $blue:    #0d6efd !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #d63384 !default;
$red:     #C1666B;
// $orange:  #fd7e14 !default;
$yellow:  #D4B483;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

$primary:       $yellow;
$secondary:     #97998B;
$success:       $yellow;
// $info:          $cyan !default;
$warning:       $red;
// $danger:        $red !default;
$light:         #E4DFDA;
$dark:          #161517;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

// $enable-caret:                true !default;
// $enable-rounded:              true !default;
// $enable-shadows:              false !default;
// $enable-gradients:            false !default;
// $enable-transitions:          true !default;
// $enable-reduced-motion:       true !default;
// $enable-grid-classes:         true !default;
// $enable-button-pointers:      true !default;
// $enable-rfs:                  true !default;
// $enable-validation-icons:     true !default;
// $enable-negative-margins:     false !default;
// $enable-deprecation-messages: true !default;
// $enable-important-utilities:  true !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $dark;
$body-color:                $light;
// $body-text-align:           null !default;

// Components
//
// Define common padding and border radius sizes and more.

// $border-width:                1px !default;
// $border-color:                $gray-300 !default;

$border-radius:               .125rem !default;
$border-radius-sm:            .1rem !default;
$border-radius-lg:            .15rem !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
// $font-family-sans-serif: 'Josefin Sans', sans-serif;
$font-family-sans-serif: 'Zilla Slab', serif;
